.card-outer-container {
  display: flex;
  justify-content: center;
  margin: 3.12rem;
}

.card-container {
  width: 23.43rem;
  border-left: 0.3rem solid hsl(180, 29%, 50%);
  padding: 1.25rem;
  border-radius: 0.3rem;
}

.card-company-logo {
  width: 50px;
}

.card-header-info,
.card-job-details,
.card-job-work-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15.62rem;
  padding: 0;

  list-style: none;
}

.card-company-name {
  color: hsl(180, 29%, 50%);
  font-size: 1.1em;
}

.card-new-tag {
  background-color: hsl(180, 29%, 50%);
  padding: 0.75rem;
  border-radius: 1.12rem;
  color: hsl(180, 31%, 95%);
}

.card-featured-tag {
  background-color: hsl(180, 14%, 20%);
  padding: 0.75rem;
  border-radius: 1.12rem;
  color: hsl(180, 31%, 95%);
}

.card-job-position {
  color: hsl(180, 14%, 20%);
  font-size: 1.05em;
  font-weight: 700;
}

.job-details {
  color: hsl(180, 3%, 70%);
}
